/* ===== Global Styles ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

 .app {
  font-family: Arial, sans-serif;
  color: #333;
  background: #fff;
   margin: 0;
  padding: 0;
}



.container {
    margin: 0;      /* remove space */
  padding: 0;

  width: 1400px;          /* fixed width */
  height: 620px;          /* fixed height */
  display: flex;          /* sidebar + content side by side */
  justify-content: flex-start;
  align-items: flex-start;
  background: hsl(12, 11%, 91%);
  margin: 0 auto; 
  margin-top: 0px;        /* center horizontally */
  padding: 0;
  border: 0px solid #333; /* optional: visual boundary */
  box-sizing: border-box; /* makes padding included in size */
}


.tab-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

